@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input .form-control {
    background: transparent !important;
    border: 1px solid #5b5b5ba6;
    border-radius: 5px;
    width: 100% !important;
    outline: none;
    padding: 10px 50px !important;
    color: rgb(255, 255, 255);
}